# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.mo
media/
staticfiles/

# Environment files
.env
*.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
ENV/
env/
.venv/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# PEP 582; used by python poetry
__pypackages__/

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Local settings
local_settings.py

# If you're using Django migrations but want to exclude them (optional)
 **/migrations/
 !**/migrations/__init__.py


finance/test_files/
